{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('app_name_index') }}">Retour</a>

    <a class="btn btn-success" href="{{ path('app_name_edit', {'id': category.id}) }}">Modifier</a>

    {{ include('name/_delete_form.html.twig') }}
{% endblock %}
